<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />
	 <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="@{global.css}" />
	@{import('meta', 'head', 'default.css', 'bootstrap.css', 'clean-blog.css', 'ricco.css', 'jquery.min.js','default.js', 'favicon.ico')}
</head>
<body data-jc="exec">
	@{view('partial-nav-home')}
	@{view('partial-breadcrumbs')}
	
	<div class="container">
		
		
		@{body}


	</div>	

	 @{view('partial-footer-home')} 

	@{import('bootstrap.min.js', 'ricco.js')}
</body>
</html>